---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="group">
    <p>&copy; {currentYear} Confused. All rights reserved.</p>
  </div>

  <style>
    footer {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      text-align: center;
      color: var(--color2);
      font-size: var(--text-sm);
    }

    footer a {
      color: var(--gray-400);
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    @media (min-width: 50em) {
      footer {
        flex-direction: column;
        justify-content: space-between;
        padding: 2.5rem 5rem;
      }
    }
  </style>
</footer>
