---
import Icon from "./Icon.astro";
import { socialLinks } from "../util/consts";
interface Props {
  title: string;
  tagline?: string;
}

const { tagline, title } = Astro.props;
---
<script src="https://kit.fontawesome.com/258bc238e2.js" crossorigin="anonymous"></script>
<header class:list={["hero stack gap-4 center"]}>
  <div class="stack gap-2">
    <h1 class="title">{title}</h1>
    {tagline && <p class="tagline">{tagline}</p>}
    <div class="socials flex gap-2">
      <a  class="social" href="">
        <i class="fa-brands fa-instagram fa-lg"></i>
      </a>
      <a  class="social" href="">
        <i class="fa-brands fa-twitter fa-lg"></i>
      </a>
      <a  class="social" href="">
        <i class="fa-brands fa-facebook fa-lg"></i>
      </a>
    </div>
  </div>
  <slot />
</header>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
  }

  .title,
  .tagline {
    color: var(--color2);
  }

  .center {
    align-items: center;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    color: var(--color2);
  }
</style>
